@import url('https://fonts.googleapis.com/css2?family=Allison&family=Assistant&family=Ms+Madi&display=swap');

body {
  font-family: 'Assistant', sans-serif;
  color: rgb(52, 39, 24);
}

.logo {
  font-family: 'Allison', cursive;
}
