@import url('https://fonts.googleapis.com/css2?family=Allison&family=Assistant&family=Ms+Madi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

body {
      /* font-family: 'Montserrat', sans-serif; */

    font-family: 'Raleway', sans-serif;
  color: rgb(52, 39, 24);
}

.logo,.fiesta {
  font-family: 'Allison', cursive;
}

.fiesta {
  /* text-shadow: 0px 0px 5px #f7f5ed; */
}

/* .big-sale{
  background-image: url('./assets/happy2.png');
} */
